table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #a3a0a0;
}

th {
    background-color: #353535;
}

.result {
    max-width: 700px;
    margin: 0 auto;
    line-height: 2;
    text-align: center;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: 200;
  }

.result-header {
    width: 100%;
    background-color: #881b30;
    color: white;
    padding: 10px;
    text-align: center;
}

button {
    background: #f15788;
    color: white;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    border-radius: 4px;
}